<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.business.mapper.PictureMapper">
  <resultMap id="BaseResultMap" type="com.my.business.entity.Picture">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="date" jdbcType="DATE" property="date" />
  </resultMap>
</mapper>